body {
    --color-primary: #009507;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;


    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(/pictures/8q9lvH-420156787.png);
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: #ffffff;

}

.form--hidden {
    display: none;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

  .form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
  }

  .form__input--error {
    color:var(--color-error);
    border-color: var(--color-error);
  }

  .form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
  }

  .form__button:hover {
    background: var(--color-primary-dark);
  }

  .form__button:active {
    transform: scale(.98);
  }

  .form__text {
    text-align: center;

  }

  .form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
  }

  .form__link:hover {
    text-decoration: underline;
  }
  /*copying sams header*/
.navbar {
  position:absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1b6e3b; 
  color: white;
}

.brand-title {
  font-size: 4vw;
  margin: 0.5vw;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li    {
  list-style: none;
}

.navbar-links li a  {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover   {
  background-color: #555;
}

.toggle-button {
  position: absolute; /* This makes it so that position doesn't change no matter what */
  top: .75rem; /* gives space from the top */
  right: 1rem; /* gives space from the right */
  display: none; /* if we want to only show it while it while minimized, set this as none */
  flex-direction: column; /* Shows spans vertically */
  justify-content: space-between; /* leaves enough space between spans */
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* we will use a Media Query. This makes it so that when a condition is met, then something will execute.
*/

@media (max-width: 600px)   {
  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-links ul {
      width: 100px;
      flex-direction: column;
  }

  .navbar-links li {
      text-align: center;
  }

  .navbar-links li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}
