body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input-label {
    color: #ccc;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #777;
    color: white;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    background: #999;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #555;
}

.form__button:hover {
    background: #333;
}

.form__text {
    text-align: center;
}

.form__link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

.form__section {
    display: none;
}