.announcement-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.suggestions {
    margin-top: 0; /* Remove the margin-top */
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    flex: 1;
}