.announcement-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.suggestions {
    margin-top: 0; /* Remove the margin-top */
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    flex: 1;
}
/* Add this CSS code to your stylesheet */

.topic-body {
    display: none;
}

.topic-body.expanded {
    display: block;
}
/* Add your custom CSS styles here */

.light-mode {
    background-color: white;
    color: black;
}

/* Additional CSS styles */
#voiceChatButton {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

#voiceChatButton:hover {
    color: cyan;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.button-container {
    display: flex;
    margin-top: 10px;
}

.button-container a {
    margin: 0 5px;
}

