.announcement-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.suggestions {
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
}

.suggestions h2 {
    border: 1px solid #444;
    padding: 10px;
    font-size: 20px;
}